%section.hero.is-info.is-medium.is-bold
  .hero-body
    .container.has-text-centered
      %h1.title
        Bienvenue dans Captain Challenge !
      %h2.title
        Entrer dans l'aréne !
      %a.button.is-danger Fight !
        
        