%section.hero.is-info.is-medium.is-bold
  .hero-body
    .container.has-text-centered
      %h1.title
        Bienvenue dans Captain Challenge !
- if @characters.present?
  %h2 Les Personnages :
  - @characters.each do |character|
    %p= link_to character.name, character_path(character)
- else 
  %h2 Aucuns personnage dispo
            
        