%section.hero.is-info.is-medium.is-bold
  .hero-body
    .container.has-text-centered
      %h1.title
        Bienvenue dans L'Arène de Captain Challenge !
.container
  - if @characters_ranked.present?
    %h2 Les Personnages disponible :
    .list.is-hoverable
      - @characters_ranked.each do |rank, characters|
        %h3= "Rang #{rank}"
        - characters.each do |character|
          = link_to character.name, character_path(character), class: "list-item"
  - else 
    %h2 Aucuns personnage disponible
            
        