%nav.navbar
  .container
    .navbar-brand
      = link_to image_tag("logo.png", alt: 'logo'), root_path, class: 'navbar-item'
      %span.navbar-burger.burger{"data-target" => "navbarMenu"}
        %span
        %span
        %span
    #navbarMenu.navbar-menu
      .navbar-end
        %a.navbar-item.is-active
          Arène
        = link_to "Création d'un héro", new_character_path, class: 'navbar-item'
